### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results


### NPM ###
npm-debug.log
node_modules


### Bower ###
**/bower_components/


### PhPStorm ###
.idea/

# Floobits
.floo
.floobit
.floo
.flooignore

## API keys
client/env/config.js
